# Продукты компиляции LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.minted
_minted/
# *.pdf

# Системные файлы
.DS_Store
Thumbs.db

# Папки редакторов
# .vscode/
.idea/

# Гарнитура Times New Roman проприетарна
# и не может свободно распространяться
fonts/times*.ttf

# Игнорировать папки, случайно созданные
# из-за ошибок с путями Windows
[Cc]:\\Users/

# Пользовательские файлы "бэкапы"
*.bak

# Пользовательские файлы "на удаление"
*.del

# drawio
*.dtmp
*.bkp